$color: steelblue;
$primary: #0063a3;
$body-bg: #e0e1e9;
$body-color: #000000;

@import '../node_modules/bootstrap/scss/bootstrap.scss';

.back-button {
  padding: 4px 12px 4px 12px;
  color: whitesmoke;
  background-color: dodgerblue;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type="text"],
input[type="password"],
input[type="email"] {
  border: 1px solid gray;
}

.filter {
  padding: 12px;
  width: 100%;
}

.filter input {
  padding: 2px;
  width: 100%;
}